<div class="row">
  <div class="col-md-12">
      <div class="sidenav">
          <button class="menubtn">
              <a [routerLink]="['/user-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                  Dashboard </a>
          </button>
          <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#account"
              (click)="accountcollapse()">
              <i class="fas fa-user" style="margin-right: 15px"></i> Account
          </button>
          <div class="collapsebtn" id="account" *ngIf="isAccountCollapsed">
              <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                  <a [routerLink]="['/user-dashboard/account']"> <i class="fas fa-user-edit"
                          style="margin-right: 15px"></i>
                      Edit Profile</a>
              </button>
          </div>

      </div>
  </div>
</div>