<div class="container">
    <div class="row mt-5">
      <div class="col-md-12">

      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>
              Name
            </th>
            <th>
              Surname
            </th>
            <th>
              User
            </th>
            <th>
              Edit
            </th>
            <th>
              Delete
            </th>
            <th>
              Details
            </th>
          </tr>
          <tr>
            <td>
              <!-- con il binding bidirezionale [(ngModel)] mentre scriviamo nell'input
              viene modificato l'attributo di dto in tempo reale-->
              <input placeholder="name" [(ngModel)]="studenttoinsert.name">
            </td>
            <td>
              <input placeholder="surname" [(ngModel)]="studenttoinsert.surname">
            </td>
            <td>
              <select placeholder="user" [(ngModel)]="studenttoinsert.user">
                <option [ngValue]="user.login" *ngFor="let user of users">{{user.login}}</option>
              </select>
            </td>
            <td>
              <button (click)="insert(studenttoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
            <td>
              <button (click)="close()">Close Details</button>
            </td>
          </tr>
          <tr *ngFor="let student of students">
            <td>
              <input [(ngModel)]="student.name">
            </td>
            <td>
              <input [(ngModel)]="student.surname">
            </td>
            <td>
              {{student.user}}
            </td>
            <td>
              <button (click)=update(student)>Edit</button>
            </td>
            <td>
              <button (click)="delete(student)">>Delete</button>
            </td>
            <td>
              <button (click)="select(student)">Details</button>
            </td>
          </tr>
        </table>
 
    </div>
    <div class="row mt-5">
      <div class="col-md-1">
        <!-- colonna vuota per centrare i dettagli-->
      </div>
      <!--
      <div class="col-md-10">
         Se "selected" non è nullo, viene passato il suo valore sotto la chiave dto alla compoment
          figlia. Questo è un esempio di binding unidirezionale tra ts e ts
        <app-user-details *ngIf="selected" [dto]="selected"></app-user-details>
        -->
      </div>
      <div class="col-md-1">
        <!-- colonna vuota per centrare i dettagli-->
      </div>
    </div>
  </div>