<div class="container">
  <div clas="row no-gutters">

  </div>
  <div class="row no-gutters">
    <div class="col-md-4" class="center">

        <p></p>
    </div>

    <div class="col-md-4" class="center">
      <div class="row no-gutters">
        <br>
        <br>
        
        
      </div>
      <br>
      <br>
      <div class="row no-gutters searchbar">
        <input type="text" name="quest" placeholder="Parlami" style="margin: 2ch" [(ngModel)]="question.siaword">
        <button class="fas fa-search button" (click)="search()"></button>
         
      </div>
    </div>


    <div class="col-md-4" class="center">
      <p></p>
    </div>
  </div>
</div>