form {
    border: black;
    position: relative;
    margin-top: 270px;
    width: 55%;
    padding: 10px;
    border-radius: 0;
    border-color: rgb(240, 17, 62);
    top: 100px;
    left: 100%;
}
#inputusername{
    position: absolute;
    right: 80%;
    border-radius: 12px;
}
#user{
    border-radius: 12px;
}
#inputpassword{
    position: absolute;
    left: 80%;
}
#pass{
    border-radius: 12px;
}
#sub{
    position: absolute;
    top: 300%;
}

img {
    position: relative;
    width: 55%;
    margin: 20%;
    transform: scale(1.19, 1.19);
}

#divImg{
    position: absolute;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    max-width: 23.5%;
    height: 45%;
    border-radius: 100%;
    transform: scale(0.75 , 0.8);
    
}

input, input:hover, input::selection, input:checked, input:focus {
    border: 0.5;
    background-color: white;
    border-radius: 0;
    color:#3b5998;
    border-bottom: 1px solid white;
    margin: 0px;
}

.container-fluid {
    background-color: #3b5998;
    height: 100h;
}

input::placeholder {
    color: #3b5998;
}

#sopra{
    background-color: #3b5998;
    height: 50vh;
}

#login{
    background-color: white;
    z-index: -1;
    
}



.form-control {
    border: none;
    background-color: white;
    color: #3b5998;
    border-bottom: 1px solid white;
}

.login {
    border: black;
    background-color: white;
    color: #3b5998;
    border: 1px solid white;
    border-radius: 50%;
    padding-top: 10px;
    padding-right: auto;
    padding-bottom: 10px;
    padding-left: auto;
}

p {
    font-size: 14px;
    color: white;
}
button{
    border-radius: 100%;
    text-align: center;
    color: white;
    border-color: #3b5998;
    
  }