<div class="limiter">
		<div class="container-login100">
        <div class="login100-form-title" style="background-image: url(../src/assets/images/bg-01.jpg);">
					<div class="row">
              <div class="col-lg-3">
                <a href="https://accounts.google.com/login/signinchooser?hl=it&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img
                    id="g" src="../../assets/g+.png" alt="g+"></a>
                <img id="forgot" src="../../assets/forgotpassword.png" alt="forgot">
              </div>
              <div class="col-lg-3">
          
                <img id="reg" src="../../assets/register.png" alt="register">
              </div>
              <div class="col-lg-3">
                <img id="logo" src="../../assets/logo0.png" alt="logo">
              </div>
              <div class="col-lg-3">
                <a href="http://localhost:4200/login"><img id="login" src="../../assets/login.png" alt="login"></a>
                
              </div>
              <div class="col-lg-3">
                  <a href="https://www.facebook.com"><img id="fb" src="../../assets/fb.png" alt="fb"></a>
                  <a href="https://it.indeed.com/?r=us"><img id="in" src="../../assets/indeed.png" alt="in"></a>
              </div>
          
            </div>
				</div>
			<div class="wrap-login100">
				<form class="login100-form validate-form" #f="ngForm">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username" ngModel>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password" ngModel>
						<span class="focus-input100"></span>
					</div>



					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" (click)="login(f)" >
							Login
						</button>
					</div>
        </form>
        </div>
		</div>
	</div>