#logo {
    position: relative;
    width: 126%;
    left: -247px;
    top: -18px;
    /* margin: 20%; */
    transform: scale(0.9, 0.9);
    z-index: 2;
}
#login {
    position: relative;
    width: 114%;
    left: -403px;
    top: -83px;
    margin: 20%;
    transform: scale(0.7,0.7);
    z-index: 1;
}
#reg {
    position: relative;
    width: 114%;
    left: -102px;
    transform: scale(0.7,0.7);
    top: -15px;
}
#forgot {
    position: relative;
    width: 73%;
    top: -311px;
    left: -22px;
    transform: scale(0.5,0.5);
}
#g{
    position: relative;
    width: 107%;
    top: 4px;
    left: 76px;
    transform: scale(0.5,0.5);
}
#fb {
    position: relative;
    left: 958px;
    top: -739px;
    transform: scale(0.35,0.35);
}
#in {
    position: relative;
    width: 105%;
    left: 1227px;
    top: -1213px;
    transform: scale(0.35,0.35);
    z-index: 1;
}
.login{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
}
