<!-- Il grid layout di Bootstrap prevede che il contentuto sia inserito dentro un div di classe 
  "container", poi le row e infine le col (in tutto devono essere ESATTAMENTE 12 colonne per 
  ogni riga) -->
  <div class="container-fluid">
    <div class="row">
      <div id="divImg" class="col-md-7">
        <img src="../../assets/logo1.png" alt="logo">
      </div>
      <div class="col-md-5">
        <form #f="ngForm">
          <div class="col-md-7" id="inputusername" >
            <input class="form-control" type="text" rows="5" cols="40" id="user" name="username" placeholder="Enter Username" ngModel>
          </div>
          <div class="form-group col-md-8" id="inputpassword">
            <input class="form-control" type="password" rows="5" cols="40" id="pass" name="password" placeholder="Enter Password" ngModel>
          </div>
          <!-- "(click)"" è un tipo di binding unidirezionale (dal template al ts): quando l'utente clicca
          sul bottone viene eseguito il metodo login(f) del ts. f non è altro che la form con tutti i valori
        inseriti (verranno poi spacchettati dal ts) -->
          <button id="sub" type="submit" (click)="login(f)">Login</button>
        </form>
      </div>
    </div>
  </div>