<!-- Questo template, essendo un monoblocco, non ha bisogno del grid layout. Le classi di stile sono 
custom e sono definite nel CSS-->

<div class="menu">
    <button class="menubtn">
        <!-- Per navigare tra le component usiamo il routerLink, specificando il persorso da seguire-->
        <a [routerLink]="['/admin-dashboard']">
            <i class="fas fa-home"></i> Dashboard
        </a>
    </button>
    <!-- quando si clicca sul bottone la variabile "isAccountCollapsed" cambia valore booleano-->
    <button class="menubtn" (click)="accountcollapse()">
        <i class="fas fa-user"></i> Account
    </button>
    <!-- La direttiva *ngIf mostra il contenuto del div solo se "isAccountCollapsed" è true -->

    <button class="menubtn" (click)="userscollapse()">
        <i class="fas fa-users"></i>Users
    </button>
    <div *ngIf="isUserCollapsed">
        <button class="collapsebtn">
            <a [routerLink]="['/admin-dashboard/users']">
                <i class="fas fa-edit"></i> Manage Users
            </a>
        </button>
    </div>
    <button class="menubtn" (click)="studentcollapse()">
        <i class="fas fa-users"></i>Student
    </button>
    <div *ngIf="isStudentCollapsed">
        <button class="collapsebtn">
            <a [routerLink]="['/admin-dashboard/student']">
                <i class="fas fa-edit"></i> Manage Student
            </a>
        </button>
    </div>
    <button class="menubtn" (click)="gruppocollapse()">
            <i class="fas fa-users"></i>Gruppo
        </button>
        <div *ngIf="isGruppoCollapsed">
            <button class="collapsebtn">
                <a [routerLink]="['/admin-dashboard/gruppo']">
                    <i class="fas fa-edit"></i> Manage Gruppo
                </a>
            </button>
        </div>
        <button class="menubtn" (click)="trainingcollapse()">
            <i class="fas fa-users"></i>Training
        </button>
        <div *ngIf="isTrainingCollapsed">
            <button class="collapsebtn">
                <a [routerLink]="['/admin-dashboard/training']">
                    <i class="fas fa-edit"></i> Manage Training
                </a>
            </button>
        </div>
        <button class="menubtn" (click)="contentcollapse()">
            <i class="fas fa-users"></i>Content
        </button>
        <div *ngIf="isContentCollapsed">
            <button class="collapsebtn">
                <a [routerLink]="['/admin-dashboard/content']">
                    <i class="fas fa-edit"></i> Manage Content
                </a>
            </button>
        </div>
    <button class="menubtn" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>Logout
    </button>
</div>