<div class="container">
  <div class="row no-gutters">
  </div>

  <div class="row no-gutters">
      <div class="col-md-4" class="center">
          <p></p>
      </div>
  
      <div class="col-md-4" class="center">
        <div class="row no-gutters">
            <div class="col-md-3">
              <a [routerLink]="['']"><img class="logo" src="../../../assets/logo.png" height="200ch" style="position: relative; right: -63ch; top: 7ch;"></a>
            </div>
          
        </div>
        <br> 
        <br>
      <div class="col-md-4" class="center">
           <p></p>
      </div>
      </div>
      <div class="col-md-4" class="center">
<p></p>
</div>

</div>


      <div class="row no-gutters">
      <div class="col-md-4 login">
          <form #f="ngForm">
            <div class="form-group">
              
              <input class="form-control" type="text" id="user" name="username" placeholder="Username" ngModel>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" id="pass" name="password" placeholder="Password" ngModel>
            </div>
            <button type="subtmit" class="go" (click)= "login(f)"> Login </button>       
           </form>
        </div>
      </div>

      <div >
        <a href="https://it-it.facebook.com/login/"><img src="../../assets/images/icons/facebook.svg" class="fb" alt="logo"></a>
      </div>
      <div>
        <a href="https://accounts.google.com/login/identifier?hl=it&flowName=GlifWebSignIn&flowEntry=AddSession"><img src="../../assets/images/icons/google.svg" class="google" alt="logo"></a>
      </div>
      <div>
        <a href="https://www.instagram.com/accounts/login/?hl=en"><img src="../../assets/images/icons/insragram.svg" class="insta" alt="logo"></a>
      </div>
      <div >
        <a href="https://www.linkedin.com/uas/login?_l=it"><img src="../../assets/images/icons/linkedin.svg" class="in" alt="logo"></a>
      </div>
      

        
</div>

